/* Website formatting */
* {
  font-family: 'Righteous';
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#myHeader {
  background: #8B80F9;
}

/* Answers */
.choice{
    text-align: center;
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}


/* Footer */
footer{
  position: fixed;
  margin-bottom: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  color: #8B80F9;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

